#app
  font-family Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  width 100%
  height 100%
  overflow hidden
.el-container
  width 100%
.el-header
  background-color #185291
  color #333
  line-height 80px
  display flex
  & i
      line-height 80px
      cursor pointer
      font-size 25px
  & h1
      text-align center
      flex 1
.el-aside
  background-color #185291
  color #333
  text-align center
  line-height 200px
.el-main
  background-color #ffffff
  color #333
  text-align center
.el-menu-vertical-demo:not(.el-menu--collapse)
  width 200px
  // min-height: 400px;
  height 100%
.el-page-header
  height 80px
  line-height 80px
.el-page-header__title,.el-page-header__content
  line-height 80px